---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kdex.dev
  resources:
  - kdexhost
  - kdexhosts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kdex.dev
  resources:
  - kdexhostcontrollers
  - kdextranslations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kdex.dev
  resources:
  - kdexhostcontrollers/finalizers
  - kdextranslations/finalizers
  verbs:
  - update
- apiGroups:
  - kdex.dev
  resources:
  - kdexhostcontrollers/status
  - kdextranslations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kdex.dev
  resources:
  - kdexscriptlibraries
  - kdexthemes
  verbs:
  - get
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
